
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="./assets/styles.css">
    <title>Box Office Game</title>

      {{!-- <link href="/public/js/login.js"> --}}

</head>

<body>
  {{{body}}}
</body>


{{!-- class="ui button game-btn" --}}