<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Box Office Crash</title>
  <link href="/public/js/login.js">
  <link rel="stylesheet" href="./assets/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">

</head>

<body>
  {{{body}}}
</body>
