<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      User Registry
    </h1>
    <!-- Only display the logout button if the user is logged in -->
    <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/directory/public/js/login.js">login</a>
        {{/if}}
      </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
  {{#if logged_in}}
  <script src="/directory/public/js/logout.js"></script>
  {{/if}}
</body>