<h2>Register</h2>
    <form class="form Register-form">
      <div class="form">
        <label for="name-Register">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form">
        <label for="email-Register">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form">
        <label for="password-Register">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </form>