@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fasthand&family=Playfair+Display:ital,wght@0,400;0,600;1,600&family=Rozha+One&display=swap");

:root {
  --dark-green: #0a0b0b;
  --blue: #32bde8;
  --title-font: "Fascinate Inline";
}

h1 {
  color: white;
  font-family: var(--title-font);
  font-size: 50px;
  padding: 10px;
  text-shadow: 3px 3px black;
  text-align: center;
}

h1,
header {
  background: rgb(11, 11, 11);
  background-image: linear-gradient(
    to right,
    var(--blue) 0%,
    var(--dark-green) 51%,
    var(--blue) 100%
  );
}

header {
  display: flex;
  justify-content: end;
  padding: 12px 15px 12px 15px;
  text-align: right;
}

section {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ui.button.game-btn,
#score-btn {
  background-image: linear-gradient(
    to right,
    var(--blue) 0%,
    var(--dark-green) 51%,
    var(--blue) 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  color: white;
  display: block;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
}

.game-btn:hover,
#score-btn:hover {
  background-color: palevioletred;
  cursor: pointer;
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
/* gamepage */
:root {
  --height-text: 30px;
  --height-img: 445px;
  --blue: #0a0b0b;
  --pink: #32bde8;
}

#respond {
  margin: auto;
  text-align: center;
  width: 50%;
}

.load-game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card-movie {
  display: flex;
  height: 550px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-bottom: auto;
  width: 300px;
}

.load-game #high-low-btn {
  flex-basis: 100%;
}

#revers-btn {
  background-image: linear-gradient(
    to right,
    var(--blue) 0%,
    var(--dark-green) 51%,
    var(--blue) 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  color: white;
  display: block;
  padding: 15px 45px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
}

#revers-btn:hover {
  background-color: palevioletred;
  cursor: pointer;
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* scorebord */

:root {
  --dark-green: #0a0b0b;
  --blue: #32bde8;
  --title-font: "Fascinate Inline";
}

#h1 {
  border-radius: 30px;
  font-family: var(--title-font);
  font-size: 50px;
  margin-right: 550px;
  text-shadow: 3px 3px black;
  text-align: center;
}

#score {
  background: rgb(11, 11, 11);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-image: linear-gradient(
    to right,
    var(--blue) 0%,
    var(--dark-green) 51%,
    var(--blue) 100%
  );
}

img {
  height: 400px;
}

.ui.grid.container {
  border: outset var(--blue);
  margin: 30px;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
  margin: 5px;
}

tbody > tr {
  border-bottom: solid var(--pink) 5px;
}

td {
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

/* gameover */

h4 {
  font-size: 50px;
  font-family: var(--title-font);
  text-align: center;
  text-shadow: 3px 3px black;
}

#head-over {
  background: rgb(11, 11, 11);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 15px 12px 15px;
  background-image: linear-gradient(
    to right,
    var(--blue) 0%,
    var(--dark-green) 51%,
    var(--blue) 100%
  );
}

.section {
  display: block;
  margin-top: 30px;
  text-align: center;
}

#return-btn,
#scoreTable-btn,
.ui.button {
  background-image: linear-gradient(
    to right,
    var(--blue) 0%,
    var(--dark-green) 51%,
    var(--blue) 100%
  );
  box-shadow: 0 0 20px #eee;
  background-size: 200% auto;
  border-radius: 10px;
  color: white;
  display: block;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
}

#return-btn:hover,
#scoreTable-btn:hover,
#button-save:hover {
  background-color: palevioletred;
  cursor: pointer;
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

h2{
  color: red;
}